.carousel {
    position: relative;
    img {
        width: 100%;
        height: 100dvh;
        object-fit: cover;
        object-position: top;
    }
    
}
.multi-item{
        img {
            height: 200px;
        }
    }