.club-detail {
    padding: 20px;
    font-family: Arial, sans-serif;
    width: auto;
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    h2{
      font-size: 18px;
      text-align: left;
      margin-left: 22px;
      margin-top: -20px;
      }
    
.club-detail-main-image{
  margin-bottom: 10px;
  padding:20px 20px;
  display: flex;
  justify-content: center;
  img{
    width: 100%;
    // height: 800px;
  }
}
.text-wrap {
  display: flex;
  align-items: center;
  margin-block: 20px;
}

.text-line {
  height: 5px;
  width: 100%;
  background-color: #f1f1f3;
}
  
.club-content {
  display: flex;
  justify-content: center;
  // margin-bottom: 20px;
    p{
        text-align: left;
      }
  
    .club-description {
      width: 40%;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        margin: 20px;
        height: auto;
        font-size: 20px;
        ul{
          // font-size: 40px;
          li{
            list-style: none;
          }
        }
        h2{
          font-size: 18px;
          text-align: left;
          margin-left: 26px;
          margin-top: -22px;
          }
      }
  
    .club-image {
      width: 84%;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        // max-width: 800px;
        margin: 20px;
        margin-right: 10px;
       img {
        width: 100%;
        height: auto;
        }
        
      }
    }

    .club-introduction{
      display: flex;
      justify-content: flex-start;
      height: 300px;
      margin-left: 20px;
    }
  
    .club-infomation {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 60%;
      // height: 20%;
      margin-right: 20px;
      font-size: 20px;

      ul {
        list-style-type: none;
        padding: 0;
        li {
          margin: 5px 0;
        }
      }
      h2{
        font-size: 18px;
        text-align: left;
        margin-left: 26px;
        margin-top: -22px;
        } 
  }

    .club-utilities{
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 22%;
      display: block;
      
      margin-right: 20px;
      ul{
        list-style: none;
        margin-left: 1px;
        li{
          font-size: 20px;
          .icon{
            background-color: rgb(37, 213, 108);
            border-radius: 10px;
            border: none;
            color: #ffffff;
            margin-top: 10px;
            padding-top: 0px;
            
          }
        }
      }
    }
    .fal, .far {
      font-family: "Font Awesome 5 Pro";
    }

    // .club-booking-button{
    //   display: block;
    //   text-align: start;
    // }

    .booking-button {
      all: unset;
      display: flex;
      align-items: center;
      position: relative;
      padding: 0.6em 2em;
      border: mediumspringgreen solid 0.15em;
      border-radius: 0.25em;
      color: mediumspringgreen;
      font-size: 1.5em;
      font-weight: 600;
      cursor: pointer;
      overflow: hidden;
      transition: border 300ms, color 300ms;
      // user-select: none;
      // margin-left: 200px;
      margin-top: 120px;
      
    }
    
    .booking-button p {
      z-index: 1;
    }
    
    .booking-button:hover {
      color: #212121;
    }
    
    .booking-button:active {
      border-color: teal;
    }
    
    .booking-button::after, .booking-button::before {
      content: "";
      position: absolute;
      width: 9.5em;
      aspect-ratio: 1;
      background: mediumspringgreen;
      opacity: 50%;
      border-radius: 50%;
      transition: transform 500ms, background 300ms;
    }
    
    .booking-button::before {
      left: 0;
      transform: translateX(-8em);
    }
    
    .booking-button::after {
      right: 0;
      transform: translateX(8em);
    }
    
    .booking-button:hover:before {
      transform: translateX(-1em);
    }
    
    .booking-button:hover:after {
      transform: translateX(1em);
    }
    
    .booking-button:active:before,
    .booking-button:active:after {
      background: teal;
    }
}
  
  
  