  .list-club {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  // margin-left: 350px;
  // position: static;
  // overflow: hidden;
  // position: relative ;
  
  h1{
    font-size: 30px;
    font-weight: 500px;
    padding: 10px 10px;
    // margin-bottom: 0;
    color: #1D8D1D;
  }
}

.list-club-all{
  // margin: 0 200px;
  margin-left: 300px;
}

.pagination-club{
  display: flex;
  // justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 460px;
}

.list-club-outstanding {
  display: flex;
}

.text-wrap {
  display: flex;
  align-items: center;
  margin-block: 20px;
}
.text-line {
  height: 2px;
  width: 100%;
  background-color: #f1f1f3;
}

.list-club-outstanding-info {
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  width: 30%;
  margin-right: 20px;

  h2{
    font-weight: bold;
  }
}

.list-club-outstanding-info-card{
  display: flex;
  // width: 10%;
  flex-direction: row;
  h2{
    font-size: 18px;
    text-align: left;
    cursor: pointer;
  }
  p{
    text-align: left;
  }
}

.list-club-outstanding-image{
  // width: 20%;
  // object-fit: cover; 
  padding-right: 8px;
  img{
    cursor: pointer;
    min-width: 220px;
    height: 120px;
    
    border-radius: 8px;
  }

}

.list-club-main-image{
  width: 70%;
  // height: 800px;
  padding-left: 20px;
  padding-right: 20px;
  
  img{
    border-radius: 10px;
    width: 100%;
    height: 800px;
      // height: 220px;
  }
  
}

.list-club-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -100px;
  display: flex;
  // justify-content:  ;
  // flex-direction: row;
  align-items: center;
  background-color: #eaf1f0c4;
  max-width: 95%;
  min-height: 250px;

.list-club-image {
    img {
      width: 220px;
      height: 220px;
      object-fit: cover; // Ensures the image covers the entire div without distortion
      border-radius: 10px;
      cursor: pointer;
    }
}

.list-club-details {
    margin-top: 20px;
    // text-align: center;
    // text-align: left;
    width: 800px;

  h2 {
      font-size: 20px;
      color: #007BFF;
      margin-bottom: 10px;
      text-align: left;
      margin-left: 40px;
      cursor: pointer;
  }

  p {
      margin: 5px 0;
      margin-left: 20px;
      text-align: left;
      
    i {
        margin-right: 5px;
        color: #888;
       
      }
  }

.list-club-description {
  margin-top: 10px;
  font-size: 14px;
  color: #555; 
  // text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  }
}
.buttons{
  display: flex;
  // justify-content: end;
  justify-content: center;
}

button {
  padding: 10px 30px;
  border: unset;
  border-radius: 8px;
  color: #212121;
  z-index: 1;
  background: #49cd66;
  position: relative;
  font-weight: 600;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  cursor: pointer;
  // overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 8px;
  background-color: #65C766;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }
}

.list-club-search{
  margin-top: 40px;
  margin-right: 200px;
  border: 1px solid rgb(117, 113, 113);
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  align-items: center;
}

.list-club-search-form{
  // display: flex;
  // flex-direction: row;
  
}
.submit-search-button{
  
}
.form-search-button{
  text-align: center;
  justify-content: center;
}

.form-search{
  display: flex;
  gap: 20px;
  // align-items: center;


    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type='select'] {
      width: 100%;
      padding: 0px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    input[type='text'] {
      width: 100%;
      padding: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  // justify-content: center;
}