
.booking-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://images.pexels.com/photos/8007075/pexels-photo-8007075.jpeg?auto=compress&cs=tinysrgb&w=600'); /* Thay đổi 'your-background-image-url.jpg' thành URL của hình ảnh nền */
    background-size: cover;
    background-position: center;
  }
  
  .booking-form-wrapper {
    background-color: rgba(255, 255, 255, 0.404); 
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  
    h1 {
      text-align: center;
      font-size: 24px;
      color: #000000;
      margin-bottom: 24px;
    }
  
    .ant-form {
      width: 100%;
  
      .ant-form-item {
        margin-bottom: 20px;
  
        .ant-form-item-label {
          label {
            color: #333; 
            font-weight: bold;
            
          }
        }
  
        .ant-form-item-control {
          .ant-input,
          .ant-input-number,
          .ant-input-password {
            border-color: #d9d9d9;
            border-radius: 4px;
            width: 100%;
  
            &:hover,
            &:focus {
              border-color: #1890ff; 
              box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); 
            }
          }
  
          .ant-input-number,
          .ant-input-password {
            width: 100%;
          }
        }
  
        .ant-form-explain {
          color: #ff4d4f; 
        }
      }
  
      .ant-btn-primary {
        background-color: #1890ff; 
        border-color: #1890ff; 
        width: 100%;
        height: 40px;
        font-size: 16px;
        border-radius: 4px;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  
        &:hover {
          background-color: #40a9ff; 
          border-color: #40a9ff; 
        }
      }
    }
  }
  