.carousel-club {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;
    // width: 20%;
    // margin-left: 350px;
  }

//   .swiper-slide img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
    .swiper-slide-club {
    width: 20%;
    }

  .carousel-club-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    // max-width: 800px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eaf1f0c4;
  
    .carousel-club-image {
      // width: 100%;
      // height: 200px; // Set the height to a fixed value or use percentage for responsive design
      // Ensures no overflow issues
  
      img {
        width: 200px;
        height: 220px;
        // object-fit: cover; // Ensures the image covers the entire div without distortion
        border-radius: 10px;
        cursor: pointer;
      }
    }
  
    .carousel-club-details {
      margin-top: 20px;
      // text-align: center;
      // text-align: left;
  
      h2 {
        font-size: 20px;
        color: #007BFF;
        margin-bottom: 10px;
        text-align: left;
        margin-left: 30px;
        cursor: pointer;
      }
  
      p {
        margin: 5px 0;
        margin-left: 10px;
        text-align: left;
        i {
          margin-right: 5px;
          color: #888;
         
        }
      }
  
      .carousel-club-description {
        margin-top: 10px;
        font-size: 14px;
        color: #555;
      }
    }
  
  .buttons button {
      padding: 5px 20px;
      // margin-right: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      // text-align: center;
      gap: 0px;
      
      
  }
  
  .booking-button {
      background-color: #e74c3c;
      color: #fff;
      margin-left: 380px;
      .booking-button:hover{
        background-color: #06e721;
      }
  }
  
  .details-button {
      background-color: #3498db;
      color: #fff;
      margin-left: 5px;
  }
  }
  