.header{
    background-color:#12ad14;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 30px;
    // position: fixed;
    font-family: Arial, Helvetica, sans-serif;

    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
   
    

    &__logo{
        margin-top: 5px;
        width: 80px;
        text-align: center;
        img{
            width: 70%;
            border-radius: 50%;
        }
        
    }
    .search-bar {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 25px;
        padding: 1px 10px;
        padding-top: 5px;
        width: 350px;
        background-color: white;
        margin-top: -12px;
        margin-bottom: 4px;
        margin-left: 100px;
      }
      
      .search-input {
        flex: 1;
        border: none;
        outline: none;
        padding: 5px;
        font-size: 16px;
        border-radius: 25px;
        color: #808080;
      }
      
      .search-input::placeholder {
        color: #808080;
      }
      
      .search-icon {
        color: #aaa;
        font-size: 1.2em;
      }

    &__button {
        display: flex;
        align-items: center;
        outline: 0; 
        gap: 20px;
        .custome-login{
        button {
            padding: 17px 40px;
            border-radius: 50px;
            cursor: pointer;
            border: 0;
            box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-size: 12px;
            transition: all 0.5s ease;
            background-color: #245D3C;
            color: rgb(255, 255, 255);
          }
          
          button:hover {
            letter-spacing: 3px;
            background-color: hsl(0, 89%, 56%);
            color: hsl(0, 0%, 100%);
            box-shadow: rgb(228, 82, 38) 0px 7px 29px 0px;
          }
          
          button:active {
            letter-spacing: 3px;
            background-color: hsl(0, 100%, 50%);
            color: hsl(0, 0%, 100%);
            box-shadow: rgb(255, 0, 0) 0px 0px 0px 0px;
            transform: translateY(10px);
            transition: 100ms;
          }
        }
        .custome-register {
            button {
                padding: 17px 40px;
                border-radius: 50px;
                cursor: pointer;
                border: 0;
                box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                font-size: 12px;
                transition: all 0.5s ease;
                background-color: #006B01;
                color: white;
              }
            button:hover {
                letter-spacing: 3px;
                background-color: hsl(217, 100%, 50%);
                color: hsl(0, 0%, 100%);
                box-shadow: rgb(52, 55, 241) 0px 7px 29px 0px;
              }
              
              button:active {
                letter-spacing: 3px;
                background-color: hsl(234, 96%, 48%);
                color: hsl(0, 0%, 100%);
                box-shadow: rgb(66, 81, 217) 0px 0px 0px 0px;
                transform: translateY(10px);
                transition: 100ms;
              } /* Slightly darker green for hover effect */
          }  
    }

    &__nav {
      text-align: center;
      ul {
        display: flex;
        gap: 30px;
        list-style: none;
        cursor: pointer;
        margin-top: 23px;
        text-align: center;
        justify-content: center;
    // 
        a {
          text-decoration: none;
          color: rgb(255, 255, 255);
          position: relative;
    
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -3px;
            left: 0;
            background-color: white;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
    
          &:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
          &:focus::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
    
        li {
          font-size: 20px;
          color: #fff;
          font-weight: bold  ;
        }
      }
    }
    
    &__link {
      text-align: center;
      border-radius: 50px;
      width: auto;
      margin-bottom: 15px;    
    }
    
    // &__link:hover {
    //   text-align: center;
    //   // text-decoration: underline;
    //   // text-decoration-color: white;
    //   width: auto;
    //   margin-bottom: 15px;
    //   color: #75d56c;
    //   cursor: pointer;
    
    //   li {
    //     // Các style khác cho li trong link nếu cần
    //   }
    // }
    .header__options{
      display: flex;
      gap: 5px
    }
    .header__wallet{
    
      // text-align: center;
      // justify-content: center;
      border: 1px solid black;
      border-radius: 8px;
      width: auto;
      background-color: #f6f0f0;
      
      ul{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-left: 0px;
      }
      li{
        list-style: none;
        font-size: 17px;
        margin-left: 5px;
       
      }

      .button-pay{
        border-radius: 12px;
        text-decoration: none;
        color: #000000;
      }
    }
}


