.reset-password{
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 40px;
    border-radius: 12px;
    margin-top: 100px;
    .reset-password__heading {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 4px;
      }
    .reset-password__form-desc {
        color: #808191;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
      }
      .text-wrap {
        display: flex;
        align-items: center;
        margin-block: 20px;
      }
      .text-line {
        height: 1px;
        width: 100%;
        background-color: #f1f1f3;
      }
      .form-btn {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        height: auto;
        padding: 16px 40px;
        font-size: 1.125rem;
        line-height: 1.75rem;
        background-color: #1dc071;
        color: white;
        font-weight: 600;
        border-radius: 8px;
        margin-left: 0;
        cursor: pointer;
        position: relative;
        isolation: isolate;
      }
      .form-btn:hover::before {
        left: auto;
        right: 0;
        width: 100%;
      }
      .form-btn::before {
        content: "";
        position: absolute;
        left: 0;
        right: auto;
        top: 0;
        height: 100%;
        width: 0;
        background-color: #fff;
        opacity: 0.1;
        z-index: -1;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      .form-group {
        margin-bottom: -20px;
        label {
          font-size: 14px;
          font-weight: 500;
        }
        &:last-child {
          margin-bottom: 0;
        }
        a{
          margin-left: 230px;
        }
      }
      .form-input {
        padding: 15px 25px;
        width: 100%;
        border: 1px solid #cbd5e1;
        border-radius: 12px;
        outline: none;
        transition: linear 0.25s;
        &:focus {
          border-color: #1dc071;
        }
      }
}