body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #34993F; /* Màu nền xanh đậm như trong hình */
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.footer-info {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

.footer-info p {
    margin: 10px 0;
}

.footer-info a {
    color: white;
    text-decoration: underline;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
}

.footer-map {
    flex: 1;
    min-width: 300px;
}

.footer-map img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.footer-map iframe {
    width: 80%;
    height: 300px;
    border: 0;
    border-radius: 8px;
}
