.fui-footer-3 {
  font-family: Arial, Helvetica, sans-seriff;
    width: 100%;
    padding: 40px 32px 20px;
    background-color: rgba($color: #66da67a9, $alpha: 1);
    color: #ffffff;
    .footer-category-wrap {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
    .footer-category {
      &:first-child {
        width: 420px;
      }
    }
    .footer-logo {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
      img {
        width: 100px;
        height: 100px;
        border-radius: 70%;
      }
    }
    .footer-desc {
      margin-top: 24px;
      font-size: 18px;
      line-height: 1.6;
      padding-bottom: 24px;
      border-bottom: 1px solid #f1f5f9;
      text-align: left;
    }
    .copy-right {
      margin-top: 24px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7);
    }
    .social-list {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .social-link {
      transition: linear 0.25s;
      &:hover {
        opacity: 0.5;
      }
    }
    .footer-heading {
      margin-bottom: 14px;
      font-weight: 700;
    }
    .footer-category-item {
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .footer-link-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      ul{
        li{
            list-style: none;
        }
      }
    }
    .footer-link {
      transition: linear 0.2s;
      text-decoration: none;
      color: #ffffff;
      // &:hover {
      //   color: #000000;
      // }
    }
    .footer-bottom {
      margin-top: 32px;
    }
    .footer-bottom-list {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .footer-bottom-link {
      font-size: 14px;
      transition: linear .2s;
      &:hover{
        color: #1dc071;
      }
    }
  }