.wallet {
  width:auto;
  // margin: 20px auto; 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  h3{
    font-weight: bold;
  }

  .wallet-nav{
    background-color: #d7d0d0;
    width: 90%;
    margin-bottom: 20px;
    
    // display: flex;
    // text-align: center;
    // justify-content: center;
    ul{
      margin-top: 15px;
      display: flex;
      gap: 30px;
      list-style: none;
      cursor: pointer;
      text-align: center;
      justify-content: center;
    }
  }

  .wallet-payment, .wallet-payment-history {
    width: 80%; /* Adjust width as needed */
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center; 
  }

  .wallet-payment {
    padding-bottom: 10px;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type='number'] {
      width: 80%;
      padding: 15px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }
    input[type='text'] {
      width: 80%;
      padding: 15px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
    }
  }

  .submit-button {
    width: 30%;
    padding: 15px;
    background-color: #ff0000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #cc0000;
  }

  .wallet-payment-history {
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .wallet-transfer, .wallet-transfer-history {
    width: 80%; /* Adjust width as needed */
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center; 
  }

  .wallet-transfer-history {
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
